<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubra seu cargo na área de Dados</title>
</head>

<body>
    <div class="container">
        <h1>Descubra seu cargo na área de Dados</h1>
        <form action="/predict" method="post">
            <label for="nome-input">
                <p>Seu nome:</p>
                <input type="text" name="nome" id="nome-input" required>
            </label>
            <button type="submit">
                Descobrir seu cargo
            </button>
        </form>
    </div>
</body>

</html>